<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <title>Hello, world!</title>
  </head>
  <body>
      <div class="container-fluid">
          <div class="jumbotron">
            <h1>Hello, world!</h1>
            <p>serving up html</p>
          </div>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery.min.js"></script>
    <!-- Bundled JS files (bootstrap.bundle.js and minified bootstrap.bundle.min.js) include Popper, but not jQuery.
 -->
    <script src="/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script> -->
  </body>
</html>